h1 {
    background: red;
}

.p1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.p2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-left: 20px;
}

.p3 {
    font-weight: 900;
    font-size: 20pt;
    font-family: Courier New
}

.p4 {
  text-align: center;
}

.p4 span {
  font-style: italic;
  font-size: 24px;
  display: block;
  text-shadow: 2px 2px green;
}
